---
import buttons from "src/data/buttons";
import NavButton from "@components/ui/NavButton.astro";
import Time from "./Time";
import NavProfile from "./NavProfile";
---

<nav
  id="mainmenu"
  class="flex justify-between mx-12 lg:mx-0 items-center text-white mt-4"
>
  <!-- Logo -->
  <div class="flex items-center gap-2">
    <a class="items-center gap-2" href="/">
      <span class="text-4xl">LAVA</span>
      <span class="text-3xl text-red-500">TV</span>
    </a>
  </div>

  <!-- Botón hamburguesa para menú móvil -->
  <div class="block lg:hidden">
    <button id="menu-button" class="text-white focus:outline-none">
      <!-- Icono de menú hamburguesa -->
      <svg
        class="w-8 h-8"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>

  <!-- Menú -->
  <div
    id="menu"
    class="hidden lg:flex lg:flex-grow lg:justify-evenly items-center"
  >
    {
      buttons.map((button) => (
        <NavButton text={button.text} href={button.href} />
      ))
    }
  </div>

  <!-- Reloj y clima -->
  <div class="hidden lg:flex justify-end items-center gap-x-10">
    <Time client:only="react" />
    <!-- <Weather client:load/> -->
    <NavProfile client:load />
  </div>
</nav>

<!-- Menú desplegable para móvil -->
<div
  id="mobile-menu"
  class="lg:hidden hidden flex-col items-center bg-black m-10 gap-y-12 w-1/3 md:w-1/6"
>
  {buttons.map((button) => <NavButton text={button.text} href={button.href} />)}
  <!-- También puedes añadir Reloj y Clima aquí si lo prefieres -->
</div>
<script>
  const menuButton = document.getElementById("menu-button");
  const mobileMenu = document.getElementById("mobile-menu");

  menuButton.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });
</script>
