---
interface Props {
    text: string;
    href: string;
    icon?: string;
    iconPosition?: "left" | "right";
}
const { text, href, icon, iconPosition } = Astro.props as Props;
import { Icon } from "astro-icon/components";
---

<a
    class="bg-white text-black hover:bg-gray-200 px-4 py-2 rounded flex justify-between items-center w-max"
    href={href}
>
    {
        icon && iconPosition === "left" && (
            <Icon name={icon} class="size-4 mr-2" />
        )
    }
    <span class="text-lg">{text}</span>
    {
        icon && iconPosition === "right" && (
            <Icon name={icon} class="size-6 ml-2" />
        )
    }
</a>
