---
import { getPopularMovies, baseImgPath } from "../lib/popular";
import Poster from "./Poster.astro";
const popularMovies = await getPopularMovies();
---

<div class="flex justify-between items-center h-full w-full">
    {popularMovies.map((movie) => <Poster img={baseImgPath} movie={movie}  />)}
</div>
