---
import { getPopularTvShows } from "../lib/popular";
import PosterCard from "./PosterCard.astro";
const popularTvShows = await getPopularTvShows();
---

<h2
  class="mt-12 md:ml-24 lg:ml-0 text-center md:text-left text-2xl font-bold w-full"
>
  Series Populares
</h2>
<div
  class="flex flex-wrap justify-center lg:justify-between items-center w-full mx-auto md:mx-12 lg:mx-0 gap-12"
>
  {popularTvShows.map((movie) => <PosterCard movie={movie} />)}
</div>
