---
import { getPopularTvShows, baseImgPath } from "../lib/popular";
import Poster from "./Poster.astro";
const popularTvShows = await getPopularTvShows();
---

<div class="flex justify-between items-center h-full w-full">
  {popularTvShows.map((movie) => <Poster img={baseImgPath} movie={movie} />)}
</div>
